:root {
  --winningCombo: rgb(238, 11, 140);
  --blueshock: rgb(7, 227, 243);
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #55ff00;
}

h1 {
  color: #55ff00;
}

h3 {
  color: rgb(255, 0, 242);
}

span {
  color: red;
}

button {
  color: var(--winningCombo);
  background-color:  var(--blueshock);
  border-radius: 10px;
  border: none;
  position: absolute;
  bottom: 10%;
  padding: 5px 5px;
  box-shadow: 0px 0px 2px 2px var(--blueshock);
  font-family: Chalkduster, fantasy;
}

